body {
  background-color: #1E2426;
}

.container {
  width: 1024px;
  margin: auto;
  background-color: #29424B;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 20%;
  height: 100%;
}

.btnCreate {

}

.btnLogin {
  
}

.main {

}

.main__images {

}

.main__image__img {

}

.footer {

}

