body {
  background-color: #1E2426;
}

.container {
  background-color: #29424B;
}

.header {display: flex;}

.header__logo {
  width: 50%;
  height: 100%;
}

.header__list {

}

.header_item {

}

.header__link {

}

.main {margin-top: 1em;}

.main__images {
  margin-top: 0.2em;
  text-align: center;
  }

.main__image__img {
  width: 95%;
  height: 100%;
}

.footer {

}

