.select {
  color: #FFF;
  text-align: center;
  text-shadow: #466320 1px 1px 0;
}

.select__title-text {
  margin: 10% 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 35px;
}

.select__text {
  display: none;
}

.select__local {
  margin: 25px 0 0;
}

.select__local__picture {
  position: relative;
  width: 200px;
  margin: 25px auto 0;
  background-color: #b3e86b;
}

.select__btn-picture {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.select_local__video {
  position: relative;
  width: 200px;
  margin: 25px auto 0;
  background-color: #b3e86b;
}

.select__btn-video {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.select__local__icon {
  display: none;
}

.select__local__text {
  margin: 0;
  padding: 15px 0;
  font-size: 21px;
}

.select__url {
  color: #29424a;
  margin-top: 15px;
  width: 200px;
  height: 20px;
  font-size: 14px;
}

/* min-width 767.98px*/

@media (min-width: 767.98px) {

  .select__local__picture {
    width: 300px;
  }

  .select_local__video {
    width: 300px;
  }

  .select__url {
    width: 350px;
    margin-top: 25px;
    height: 25px;
  }
}

/* min-width 991.98px*/

@media (min-width: 991.98px) {

  .select {
    padding-bottom: 25px;
    background-color: #95C752;
    margin: 45px auto 0;
  }

  .select__title-text {
    font-size: 40px;
    padding-top: 40px;
    margin: 0;
  }

  .select__text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    margin: 55px 0 0;
    padding: 0 0 5px;
    display: block;
  }

  .select__local {
    border: 1px #FFF solid;
    display: flex;
    margin: 25px 25px 0;
  }

  .select__local__picture {
    width: 50%;
    border: 1px #FFF solid;
    margin: 10px 5px 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
  
  }

  .select__local__picture:hover {
    background-color: #466320;
  }

  .select_local__video {
    width: 50%;
    border: 1px #FFF solid;
    margin: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
  }

  .select_local__video:hover {
    background-color: #466320; 
  }


  .select__local__icon {
    width: 60px;
    height: 60px;
    fill: #FFF;
    filter: drop-shadow(0 0 5px #466320);
    display: block;
  }

  .select__url {
    margin-top: 25px;
    width: 60%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
  }
}